<?xml version="1.0"?>
<ruleset name="MRN Iran Payment">
	<description>WordPress coding standards for MRN Iran Payment.</description>
	<file>mrn-ir-payment.php</file>
	<file>uninstall.php</file>
	<file>src</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<arg name="extensions" value="php"/>
	<arg value="sp"/>
	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
		<exclude name="WordPress.Security.EscapeOutput.ExceptionNotEscaped"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery.DirectQuery"/>
		<exclude name="WordPress.DB.DirectDatabaseQuery.NoCaching"/>
		<exclude name="WordPress.DB.PreparedSQL.InterpolatedNotPrepared"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_decode"/>
		<exclude name="WordPress.PHP.DiscouragedPHPFunctions.obfuscation_base64_encode"/>
		<exclude name="WordPress.WP.Capabilities.Unknown"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_fclose"/>
		<exclude name="WordPress.WP.AlternativeFunctions.file_system_operations_fwrite"/>
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<severity>0</severity>
	</rule>
	<rule ref="Squiz.Commenting.VariableComment.Missing">
		<severity>0</severity>
	</rule>
	<rule ref="Squiz.Commenting.ClassComment.Missing">
		<severity>0</severity>
	</rule>
	<rule ref="PHPCompatibilityWP">
		<include-pattern>*\.php$</include-pattern>
	</rule>
	<config name="testVersion" value="7.4-"/>
	<config name="minimum_supported_wp_version" value="6.4"/>
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="mrn-ir-payment"/>
			</property>
		</properties>
	</rule>
</ruleset>
